<div class="container">

  <div class="row">

    <div class="homepage-indiv-section-wrapper grid--full homepage-featured-content-wrapper">

      <div class="col-md-8 col-md-offset-2 homepage-featured-rich-text">

        {% if section.settings.title != blank %}
          <div class="title-bar custom-font">
            <h2>{{ section.settings.title | escape }}</h2>
            <div class="clear"></div>
          </div>
        {% endif %}

        {% if section.settings.text != blank %}
          <div class="rte featured-row__subtext textarea">{{ section.settings.text }}</div>
        {% endif %}

        {% if section.settings.button_label != blank and section.settings.button_link != blank %}
          <div>
            <a href="{{ section.settings.button_link }}" class="btn btn-custom">
              {{ section.settings.button_label }}
            </a>
          </div>
        {% endif %}

      </div>

    </div>

  </div>

</div>

{% schema %}
{
  "name": "Rich text",
  "class": "homepage-section--rich-text-wrapper wow fadeIn",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Welcome to our store"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Use this text block to show store announcements, advertise products and collections, or simply welcome visitors to your store.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Rich text",
      "category": "Text"
    }
  ]
}
{% endschema %}
