<article id="notfound" class="page">

<div class="title-bar custom-font">
	<h2>{{ 'general.404.title' | t }}</h2>
	<div class="clear"></div>
</div>

	<section>
		<h3 class="error-404-sorry">{{ 'general.404.subtext_html' | t }}</p>
	</section>

</article>
